<div class="card-container">
  <div class="center">
    <h5 class="name"><%= link_to item.name, shoe_path(item) %></h5>
    <p class="year"><%= item.year %></p>
  </div>
  <%= cl_image_tag item.photo.key, height: 300, crop: :fill if item.photo.attached?%>
  <div>
    <div class="center">
      <h3 class="price"><%= item.price %> € / day</h3>
      <p class="size">Size:</p>
      <h3><%= item.size %></h3>
    </div>
  </div>
  <div class="d-flex" id="location-brand">
    <h5 class="location"><%= item.location%> </h5>
    <h5 class="brand"><%= item.brand%></h5>
  </div>
</div>
