<div class="card-container">
  <div class="center">
    <%= link_to item.name, shoe_path(item), class:"name" %>
    <p class="year"><%= item.year %></p>
  </div>
  <%= cl_image_tag item.photo.key, height: 300, crop: :fill if item.photo.attached?%>
  <div>
    <div class="center-bottom">
      <h3 class="price"><%= item.price %>€ <p class="price-per-day">/ day</p></h3>
      <p class="size">Size</p>
      <h3 class="size-item"><%= item.size %></h3>
    </div>
  </div>
  <div class="d-flex" id="location-brand">
    <h5 id="location"><%= item.location%> </h5>
    <h5 id="brand"><%= item.brand%></h5>
  </div>
</div>
