
<div class="container">
  <div class="wrapper">
<!--     <div class="search-container"> -->

    <%= form_tag shoes_path, method: :get do %>
      <%= fields_for :query do |ff| %>
        <%= ff.text_field :brand,
          class: "form-control",
          placeholder: "Find by brand"
        %>
        <%= ff.text_field :size,
          class: "form-control",
          placeholder: "Find by size"
        %>
        <% end %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
<!--     </div> -->
  </div>
</div>

<!--
<div class="container">
      <form action="" method="get">
        <div class="wrapper">
          <div class="search-container">
            <input name="query[brand]" type="text" class="search" placeholder="Search by brand">
            <input name="query[size]" type="number" class="search" placeholder="Search by size">
            <select id="selectNumber">
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">41</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">44</option>
              <option value="45">45</option>
              <option value="46">46</option>
              <option value="47">47</option>
              <option value="48">48</option>
            </select>
            <input type="date" class="date-from" placeholder="Timespan">
            <input type="date" class="date-to" placeholder="Timespan">
         <input type="text" class="search" placeholder="Price up to ..€">
            <button type="submit" class="button">Search</button>
          </div>
        </div>
      </form>
</div> -->
