
<h1> Your new shoe: </h1>

<%= simple_form_for(@shoe) do |f| %>
  <%= f.input :name %>
  <%= f.input :brand %>
  <%= f.input :size %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= f.input :year %>
  <%= f.submit "Create" %>
<% end %>

