

<div class="container">
  <button type="button" class="btn btn-outline-dark my-3"><%= link_to "Back to all shoes", shoes_path, class:"added-link" %></button>
  <div class="d-flex">
    <div class="show-card-container col-7">

    <div class="center">
      <h5 class="show-name"><h1> <%= @shoe.name %> </h1></h5>
      <p class="show-year"><%= @shoe.year %> </li></p>
    </div>
    <div class="show-image">
      <%= cl_image_tag @shoe.photo.key, height: 300, crop: :fill if @shoe.photo.attached?%>
    </div>
    <div class="show-price-size">
      <div class="center">
        <h3 class="show-price"><%= @shoe.price %>€ / day</h3>
        <p class="show-size">Size:</p><h3><%= @shoe.size %></h3>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-around" id="show-location-brand">
        <h4 class="show-location"><%= @shoe.location %></h4>
        <h4 class="show-brand"><%= @shoe.brand %></h4>
      </div>
      <div class="d-flex justify-content-around links center">

        <% if policy(@shoe).edit? %>
          <div class="edit-container">
            <h5 class="edit-button"><%= link_to "Edit", edit_shoe_path, class:"added-link-edit"%></h5>
          </div>
        <% end %>

        <% if policy(@shoe).destroy? %>
          <div class="delete-container">
            <h5><%= link_to "Delete",
                      shoe_path(@shoe),
                      class:"added-link-delete",
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></h5>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user && @shoe.user != current_user %>
    <div class="container col-5" style="">
        <%= simple_form_for [@shoe, @booking] do |f| %>
        <div class="booking-range">
          <%= f.input :start_date,
                      label: "Start Date",
                      as: :string,
                      input_html: { type: "hidden",
                                    class: "datepicker",
                                    id: "start_date" } %>
          <%= f.input :end_date,
                      label: "End Date",
                      as: :string,
                      input_html: { type: "hidden",
                                    class: "datepicker",
                                    id: "end_date" } %>
          <%= f.button :submit, "Book", class: "btn btn-flat datepicker-btn", style: 'width:100%' %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="manage-and-bookings">
  <div class="manage-bookings center">
    <h3> Manage your bookings </h3>
    <% if @shoe.bookings.empty? %>
      <%= "no bookings" %>
      <% else %>
        <% @shoe.bookings.each do | booking |%>
          <li class="list-group-item">
            booked from: <%= booking.start_date %> until <%= booking.end_date %>
            <%= link_to "Remove",
                            booking_path(booking),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
          </li>
      <% end %>
    <% end %>
  </div>
</div>
