

<div class="container">
  <h1> <%= @shoe.name %> </h1>
  <div> <%= cl_image_tag @shoe.photo.key, height: 300, crop: :fill if @shoe.photo.attached?%> </div>

  <ul>
      <li> Name: <%= @shoe.name %> </li>
      <li> Brand: <%= @shoe.brand %> </li>
      <li> Price: <%= @shoe.price %> </li>
      <li> Year: <%= @shoe.year %> </li>
      <li> Location: <%= @shoe.location %> </li>
      <li> Seller ID: <%= @shoe.user_id %> </li>
  </ul>


<div id='shoe-booking-dates' data-unavailable="<%= @shoe.unavailable_dates.to_json %>">
    <% if current_user.id != @shoe.user_id  %>
       <%= simple_form_for([@shoe, @booking]) do |f| %>
           <%= f.input :start_date, as: :string, type: :text %>
           <%= f.input :end_date, as: :string, type: :text %>
           <%= f.submit "Confirm", class: "btn btn-primary" %>
        <% end %>
    <% end %>
 </div>

<h1> Make your booking </h1>
  <%= simple_form_for [ @shoe, @booking ] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>

  <%= link_to "Edit", edit_shoe_path %>

  <%= link_to "Delete",
              shoe_path(@shoe),
              method: :delete,
              data: { confirm: "Are you sure?" } %>

  <%= link_to "Back to all shoes", shoes_path %>
</div>
